# ===========================
# Python
# ===========================
backend/__pycache__/
backend/**/*.pyc
*.pyc

# Virtual Environment
backend/venv/
venv/
.venv/

# Environment Variables
backend/.env
.env
.env.*

# Database
*.db
*.sqlite3

# ChromaDB
backend/chroma_db/

# Uploaded PDFs
backend/uploads/

# React
frontend/node_modules/
frontend/dist/

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db